{% extends 'base.html.twig' %}

{% block title %}Articles detail{% endblock %}

{% block body %}

    <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <div class="card-title mb-0 title-color">Activity</div><span class="title-info"></span>
                </div>
                <div class="card-body h-100">
                    {% if comments != 0 %}
                        {% for comment in comments|sort((a, b) => b.createdAt <=> a.createdAt)  %}
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1">
                                    <img src="{{ asset('img/avatars/' ~ comment.user.avatar) }}" alt="{{comment.user.username}}" width="25" height="25" class="rounded-circle mr-2">
                                    <strong>{{ comment.user.username }} </strong>has commentd the article <strong><a href="{{ path('article_show', {'id': comment.article.id}) }}">{{ comment.article.title }}</a></strong>
                                    <div class="float-right">
                                        <small>{{ comment.createdAt|date }}</small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>
                        {% endfor %}
                    {% else %}    
                    {% endif %}
                </div>
            </div>
    </div>
</div>

{% endblock %}