<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
        <meta name="author" content="AdminKit">
        <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
            <style>
                .btn-position{
                    margin-right: 10px;
                    background: #cce27c;
                    color: #2f3854!important;
                    border-color: #cce27c;
                }
                .btn-position:hover{
                    background: #6D9A3F;
                    border-color: #6D9A3F;
                    color: white!important;
                }
                .btn-position:active{
                    background: #6D9A3F;
                    border-color: #6D9A3F;
                    color: white!important;
                }
                .back-btn-position{
                    margin: 0px 0px 20px 0px;
                }
                .back-btn{
                    padding: 10px 15px 10px 15px;
                    width: 134.29px;
                }
                .delete-btn{
                    padding: 10px 15px 10px 15px;
                    width: 76.29px;
                }
                .btn-square{
                    padding: 8px 15px 8px 15px;
                }
                .btn-square-bg-color{
                    background: #1e267f!important;
                }
                .btn-yellow{
                    border-radius: 0px;
                    padding: 8px 15px 8px 15px;
                    color: white;
                    background-color: #ffc107;
                    border-color: #ffc107;
                }
                .position-relative{
                    position: relative;
                }
                .position-absolue{
                    position: absolute; 
                    left: 140px;
                }
                .custom-file-input{
                    background: none;
                }
                .title-color{
                    color: #d32f2f;
                    font-weight: 600;
                }
                .no-decoration, .no-decoration:hover{
                    text-decoration: none!important;
                    color: black;
                }
                .article-access-card{
                    transition: transform .3s ease-in-out;
                }
                .article-access-card:hover{
                    transform: scale(1.06);
                }
                .comment-container{
                    text-align: right;
                }
                .icon-color{
                    color: #1e88e5;
                }
                .comment-font{
                    font-size: 10px;
                }
                .form-control-custom{
                    border-radius: 0rem;
                    border-color: #dee2e6;
                }
                .menu-hover:hover{
                    color: #CCE27C!important;
                }
                .tab-users{
                    text-align: center;
                }
                .red{
                    color: red;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {# left navbar #}
        {% if app.user %}
            <nav id="sidebar" class="sidebar">
                <div class="sidebar-content js-simplebar" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <a class="sidebar-brand" href="{{ path('article_index') }}">
                                            <span class="align-middle">The Blog</span>
                                        </a>
                                        <ul class="sidebar-nav">
                                            <li class="sidebar-header">Pages</li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <li class="sidebar-item">
                                                    <a class="sidebar-link" href="{{ path('admin_article_new') }}">
                                                        <i class="fas fa-plus"></i><span class="align-middle menu-hover">Add an article</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-item">
                                                    <a class="sidebar-link" href="{{ path('admin_users') }}">
                                                        <i class="fas fa-users"></i><span class="align-middle menu-hover">Users</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="{{ path('admin_articles_detail') }}">
                                                    <i class="fas fa-newspaper"></i><span class="align-middle menu-hover">Activity</span>
                                                </a>
                                            </li>

                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="{{ path('user_edit', {'id': app.user.id}) }}">
                                                    <i class="far fa-user-circle"></i><span class="align-middle menu-hover">Profile</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 260px; height: 900px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                        <div class="simplebar-scrollbar" style="height: 176px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                    </div>
                </div>
            </nav>
        {% else %}
        {% endif %}
            {# top navbar #}
            <div class="main">
            
            <nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
					<i class="hamburger align-self-center"></i>
				</a>
				<div class="navbar-collapse collapse navbar-position">
                    {% if app.user %}
                        <div>
                            <img src="{{ asset('img/avatars/' ~app.user.avatar) }}" class="avatar img-fluid rounded mr-1" alt="{{app.user.username}}"> <span class="text-dark">{{app.user.username}}</span>
                        </div>
                    {% endif %}
					<ul class="navbar-nav navbar-align">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="btn btn-info btn-position" href="{{ path('app_logout') }}">Log-out</a>
						</li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-info btn-position" href="{{ path('app_register') }}">Register</a>
						</li>
                        <li class="nav-item">
                            <a class="btn btn-info btn-position" href="{{ path('app_login') }}">Sign-in</a>
						</li>
                    {% endif %}
					</ul>
				</div>
			</nav>
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
                <main class="content">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
