<div class="card">
    <div class="card-body">

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form_label(form.title, 'Title', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_row(form.title, {
                        'attr': {'class': 'form-control', 'id': 'inputUsername', 'placeholder': 'Enter the title'} 
                    }) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form_label(form.content, 'Content', {
                        'label_attr': {'class': 'form-label'} 
                    }) }}
                    {{ form_row(form.content, {
                        'attr': {'class': 'form-control', 'rows': '6', 'id': 'inputBio', 'placeholder': 'Type your text'} 
                    }) }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="mt-2">
                    {{ form_label(form.image, 'Article image', {
                        'label_attr': {'class': 'form-label'} 
                    }) }}
                    {{ form_row(form.image) }}
                </div>
            </div>
        </div>
        <button class="btn btn-square btn-square-bg-color btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    </div>
</div>
