{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    {# {{ articles[0].image|get_type }} #}

<h1 class="h3 mb-3">Articles</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4">
                <a class="no-decoration" href="{{ path('article_show', {'id': article.id}) }}">
                    <div class="card article-access-card">
                    {% if article.image != null %}
                        <img class="card-img-top" src="{{ asset('img/photos/' ~ article.image) }}" alt="Unsplash">
                    {% else %}
                    {% endif %}
                        <div class="card-header">
                            <div class="card-title mb-0 title-color">{{ article.title }}</div><span class="title-info"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ article.content|truncate(200) }}</p>
                            <div class="comment-container">
                                <i class="fas fa-comment icon-color"></i><span class="align-middle comment-font"> {{ article.comments|length }} Comments</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
